In [3]:
import pandas as pd
summer = pd.read_csv('summer.csv', index_col = 'Athlete')
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

## Changing row index labels

In [5]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [12]:
#change it back to range index
#summer.reset_index(drop = True) # drop index we had before

summer.reset_index(drop = False, inplace = True)

In [13]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [19]:
summer.set_index('Year', drop = True, inplace = True) #set a different index

In [20]:
summer.head()

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,,
1896,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [21]:
summer.index.is_unique

False

## Change one element of the index

In [22]:
summer.index[0] = 1894

TypeError: Index does not support mutable operations

In [23]:
summer.index = 'Before 2016'

TypeError: Index(...) must be called with a collection of some kind, 'Before 2016' was passed

In [24]:
summer.index.size

31165

In [26]:
new_index = ['Medal No {}'.format(i) for i in range(1,summer.index.size+1)]
new_index

['Medal No 1',
 'Medal No 2',
 'Medal No 3',
 'Medal No 4',
 'Medal No 5',
 'Medal No 6',
 'Medal No 7',
 'Medal No 8',
 'Medal No 9',
 'Medal No 10',
 'Medal No 11',
 'Medal No 12',
 'Medal No 13',
 'Medal No 14',
 'Medal No 15',
 'Medal No 16',
 'Medal No 17',
 'Medal No 18',
 'Medal No 19',
 'Medal No 20',
 'Medal No 21',
 'Medal No 22',
 'Medal No 23',
 'Medal No 24',
 'Medal No 25',
 'Medal No 26',
 'Medal No 27',
 'Medal No 28',
 'Medal No 29',
 'Medal No 30',
 'Medal No 31',
 'Medal No 32',
 'Medal No 33',
 'Medal No 34',
 'Medal No 35',
 'Medal No 36',
 'Medal No 37',
 'Medal No 38',
 'Medal No 39',
 'Medal No 40',
 'Medal No 41',
 'Medal No 42',
 'Medal No 43',
 'Medal No 44',
 'Medal No 45',
 'Medal No 46',
 'Medal No 47',
 'Medal No 48',
 'Medal No 49',
 'Medal No 50',
 'Medal No 51',
 'Medal No 52',
 'Medal No 53',
 'Medal No 54',
 'Medal No 55',
 'Medal No 56',
 'Medal No 57',
 'Medal No 58',
 'Medal No 59',
 'Medal No 60',
 'Medal No 61',
 'Medal No 62',
 'Medal No 63',
 'Medal No 64',
 'Medal No 65',
 'Medal No 66',
 'Medal No 67',
 'Medal No 68',
 'Medal No 69',
 'Medal No 70',
 'Medal No 71',
 'Medal No 72',
 'Medal No 73',
 'Medal No 74',
 'Medal No 75',
 'Medal No 76',
 'Medal No 77',
 'Medal No 78',
 'Medal No 79',
 'Medal No 80',
 'Medal No 81',
 'Medal No 82',
 'Medal No 83',
 'Medal No 84',
 'Medal No 85',
 'Medal No 86',
 'Medal No 87',
 'Medal No 88',
 'Medal No 89',
 'Medal No 90',
 'Medal No 91',
 'Medal No 92',
 'Medal No 93',
 'Medal No 94',
 'Medal No 95',
 'Medal No 96',
 'Medal No 97',
 'Medal No 98',
 'Medal No 99',
 'Medal No 100',
 'Medal No 101',
 'Medal No 102',
 'Medal No 103',
 'Medal No 104',
 'Medal No 105',
 'Medal No 106',
 'Medal No 107',
 'Medal No 108',
 'Medal No 109',
 'Medal No 110',
 'Medal No 111',
 'Medal No 112',
 'Medal No 113',
 'Medal No 114',
 'Medal No 115',
 'Medal No 116',
 'Medal No 117',
 'Medal No 118',
 'Medal No 119',
 'Medal No 120',
 'Medal No 121',
 'Medal No 122',
 'Medal No 123',
 'Medal No 124',
 'Medal No 125',
 'Medal No 126',
 'Medal No 127',
 'Medal No 128',
 'Medal No 129',
 'Medal No 130',
 'Medal No 131',
 'Medal No 132',
 'Medal No 133',
 'Medal No 134',
 'Medal No 135',
 'Medal No 136',
 'Medal No 137',
 'Medal No 138',
 'Medal No 139',
 'Medal No 140',
 'Medal No 141',
 'Medal No 142',
 'Medal No 143',
 'Medal No 144',
 'Medal No 145',
 'Medal No 146',
 'Medal No 147',
 'Medal No 148',
 'Medal No 149',
 'Medal No 150',
 'Medal No 151',
 'Medal No 152',
 'Medal No 153',
 'Medal No 154',
 'Medal No 155',
 'Medal No 156',
 'Medal No 157',
 'Medal No 158',
 'Medal No 159',
 'Medal No 160',
 'Medal No 161',
 'Medal No 162',
 'Medal No 163',
 'Medal No 164',
 'Medal No 165',
 'Medal No 166',
 'Medal No 167',
 'Medal No 168',
 'Medal No 169',
 'Medal No 170',
 'Medal No 171',
 'Medal No 172',
 'Medal No 173',
 'Medal No 174',
 'Medal No 175',
 'Medal No 176',
 'Medal No 177',
 'Medal No 178',
 'Medal No 179',
 'Medal No 180',
 'Medal No 181',
 'Medal No 182',
 'Medal No 183',
 'Medal No 184',
 'Medal No 185',
 'Medal No 186',
 'Medal No 187',
 'Medal No 188',
 'Medal No 189',
 'Medal No 190',
 'Medal No 191',
 'Medal No 192',
 'Medal No 193',
 'Medal No 194',
 'Medal No 195',
 'Medal No 196',
 'Medal No 197',
 'Medal No 198',
 'Medal No 199',
 'Medal No 200',
 'Medal No 201',
 'Medal No 202',
 'Medal No 203',
 'Medal No 204',
 'Medal No 205',
 'Medal No 206',
 'Medal No 207',
 'Medal No 208',
 'Medal No 209',
 'Medal No 210',
 'Medal No 211',
 'Medal No 212',
 'Medal No 213',
 'Medal No 214',
 'Medal No 215',
 'Medal No 216',
 'Medal No 217',
 'Medal No 218',
 'Medal No 219',
 'Medal No 220',
 'Medal No 221',
 'Medal No 222',
 'Medal No 223',
 'Medal No 224',
 'Medal No 225',
 'Medal No 226',
 'Medal No 227',
 'Medal No 228',
 'Medal No 229',
 'Medal No 230',
 'Medal No 231',
 'Medal No 232',
 'Medal No 233',
 'Medal No 234',
 'Medal No 235',
 'Medal No 236',
 'Medal No 237',
 'Medal No 238',
 'Medal No 239',
 'Medal No 240',
 'Medal No 241',
 'Medal No 242',
 'Medal No 243',
 'Medal No 244',
 'Medal No 245',
 'Medal No 246',
 'Medal No 247',
 'Medal No 248',
 'Medal No 249',
 'Medal No 250',
 'Medal No 251',
 'Medal No 252',
 'Medal No 253',
 'Medal No 254',
 'Medal No 255',
 'Medal No 256',
 'Medal No 257',
 'Medal No 258',
 'Medal No 259',
 'Medal No 260',
 'Medal No 261',
 'Medal No 262',
 'Medal No 263',
 'Medal No 264',
 'Medal No 265',
 'Medal No 266',
 'Medal No 267',
 'Medal No 268',
 'Medal No 269',
 'Medal No 270',
 'Medal No 271',
 'Medal No 272',
 'Medal No 273',
 'Medal No 274',
 'Medal No 275',
 'Medal No 276',
 'Medal No 277',
 'Medal No 278',
 'Medal No 279',
 'Medal No 280',
 'Medal No 281',
 'Medal No 282',
 'Medal No 283',
 'Medal No 284',
 'Medal No 285',
 'Medal No 286',
 'Medal No 287',
 'Medal No 288',
 'Medal No 289',
 'Medal No 290',
 'Medal No 291',
 'Medal No 292',
 'Medal No 293',
 'Medal No 294',
 'Medal No 295',
 'Medal No 296',
 'Medal No 297',
 'Medal No 298',
 'Medal No 299',
 'Medal No 300',
 'Medal No 301',
 'Medal No 302',
 'Medal No 303',
 'Medal No 304',
 'Medal No 305',
 'Medal No 306',
 'Medal No 307',
 'Medal No 308',
 'Medal No 309',
 'Medal No 310',
 'Medal No 311',
 'Medal No 312',
 'Medal No 313',
 'Medal No 314',
 'Medal No 315',
 'Medal No 316',
 'Medal No 317',
 'Medal No 318',
 'Medal No 319',
 'Medal No 320',
 'Medal No 321',
 'Medal No 322',
 'Medal No 323',
 'Medal No 324',
 'Medal No 325',
 'Medal No 326',
 'Medal No 327',
 'Medal No 328',
 'Medal No 329',
 'Medal No 330',
 'Medal No 331',
 'Medal No 332',
 'Medal No 333',
 'Medal No 334',
 'Medal No 335',
 'Medal No 336',
 'Medal No 337',
 'Medal No 338',
 'Medal No 339',
 'Medal No 340',
 'Medal No 341',
 'Medal No 342',
 'Medal No 343',
 'Medal No 344',
 'Medal No 345',
 'Medal No 346',
 'Medal No 347',
 'Medal No 348',
 'Medal No 349',
 'Medal No 350',
 'Medal No 351',
 'Medal No 352',
 'Medal No 353',
 'Medal No 354',
 'Medal No 355',
 'Medal No 356',
 'Medal No 357',
 'Medal No 358',
 'Medal No 359',
 'Medal No 360',
 'Medal No 361',
 'Medal No 362',
 'Medal No 363',
 'Medal No 364',
 'Medal No 365',
 'Medal No 366',
 'Medal No 367',
 'Medal No 368',
 'Medal No 369',
 'Medal No 370',
 'Medal No 371',
 'Medal No 372',
 'Medal No 373',
 'Medal No 374',
 'Medal No 375',
 'Medal No 376',
 'Medal No 377',
 'Medal No 378',
 'Medal No 379',
 'Medal No 380',
 'Medal No 381',
 'Medal No 382',
 'Medal No 383',
 'Medal No 384',
 'Medal No 385',
 'Medal No 386',
 'Medal No 387',
 'Medal No 388',
 'Medal No 389',
 'Medal No 390',
 'Medal No 391',
 'Medal No 392',
 'Medal No 393',
 'Medal No 394',
 'Medal No 395',
 'Medal No 396',
 'Medal No 397',
 'Medal No 398',
 'Medal No 399',
 'Medal No 400',
 'Medal No 401',
 'Medal No 402',
 'Medal No 403',
 'Medal No 404',
 'Medal No 405',
 'Medal No 406',
 'Medal No 407',
 'Medal No 408',
 'Medal No 409',
 'Medal No 410',
 'Medal No 411',
 'Medal No 412',
 'Medal No 413',
 'Medal No 414',
 'Medal No 415',
 'Medal No 416',
 'Medal No 417',
 'Medal No 418',
 'Medal No 419',
 'Medal No 420',
 'Medal No 421',
 'Medal No 422',
 'Medal No 423',
 'Medal No 424',
 'Medal No 425',
 'Medal No 426',
 'Medal No 427',
 'Medal No 428',
 'Medal No 429',
 'Medal No 430',
 'Medal No 431',
 'Medal No 432',
 'Medal No 433',
 'Medal No 434',
 'Medal No 435',
 'Medal No 436',
 'Medal No 437',
 'Medal No 438',
 'Medal No 439',
 'Medal No 440',
 'Medal No 441',
 'Medal No 442',
 'Medal No 443',
 'Medal No 444',
 'Medal No 445',
 'Medal No 446',
 'Medal No 447',
 'Medal No 448',
 'Medal No 449',
 'Medal No 450',
 'Medal No 451',
 'Medal No 452',
 'Medal No 453',
 'Medal No 454',
 'Medal No 455',
 'Medal No 456',
 'Medal No 457',
 'Medal No 458',
 'Medal No 459',
 'Medal No 460',
 'Medal No 461',
 'Medal No 462',
 'Medal No 463',
 'Medal No 464',
 'Medal No 465',
 'Medal No 466',
 'Medal No 467',
 'Medal No 468',
 'Medal No 469',
 'Medal No 470',
 'Medal No 471',
 'Medal No 472',
 'Medal No 473',
 'Medal No 474',
 'Medal No 475',
 'Medal No 476',
 'Medal No 477',
 'Medal No 478',
 'Medal No 479',
 'Medal No 480',
 'Medal No 481',
 'Medal No 482',
 'Medal No 483',
 'Medal No 484',
 'Medal No 485',
 'Medal No 486',
 'Medal No 487',
 'Medal No 488',
 'Medal No 489',
 'Medal No 490',
 'Medal No 491',
 'Medal No 492',
 'Medal No 493',
 'Medal No 494',
 'Medal No 495',
 'Medal No 496',
 'Medal No 497',
 'Medal No 498',
 'Medal No 499',
 'Medal No 500',
 'Medal No 501',
 'Medal No 502',
 'Medal No 503',
 'Medal No 504',
 'Medal No 505',
 'Medal No 506',
 'Medal No 507',
 'Medal No 508',
 'Medal No 509',
 'Medal No 510',
 'Medal No 511',
 'Medal No 512',
 'Medal No 513',
 'Medal No 514',
 'Medal No 515',
 'Medal No 516',
 'Medal No 517',
 'Medal No 518',
 'Medal No 519',
 'Medal No 520',
 'Medal No 521',
 'Medal No 522',
 'Medal No 523',
 'Medal No 524',
 'Medal No 525',
 'Medal No 526',
 'Medal No 527',
 'Medal No 528',
 'Medal No 529',
 'Medal No 530',
 'Medal No 531',
 'Medal No 532',
 'Medal No 533',
 'Medal No 534',
 'Medal No 535',
 'Medal No 536',
 'Medal No 537',
 'Medal No 538',
 'Medal No 539',
 'Medal No 540',
 'Medal No 541',
 'Medal No 542',
 'Medal No 543',
 'Medal No 544',
 'Medal No 545',
 'Medal No 546',
 'Medal No 547',
 'Medal No 548',
 'Medal No 549',
 'Medal No 550',
 'Medal No 551',
 'Medal No 552',
 'Medal No 553',
 'Medal No 554',
 'Medal No 555',
 'Medal No 556',
 'Medal No 557',
 'Medal No 558',
 'Medal No 559',
 'Medal No 560',
 'Medal No 561',
 'Medal No 562',
 'Medal No 563',
 'Medal No 564',
 'Medal No 565',
 'Medal No 566',
 'Medal No 567',
 'Medal No 568',
 'Medal No 569',
 'Medal No 570',
 'Medal No 571',
 'Medal No 572',
 'Medal No 573',
 'Medal No 574',
 'Medal No 575',
 'Medal No 576',
 'Medal No 577',
 'Medal No 578',
 'Medal No 579',
 'Medal No 580',
 'Medal No 581',
 'Medal No 582',
 'Medal No 583',
 'Medal No 584',
 'Medal No 585',
 'Medal No 586',
 'Medal No 587',
 'Medal No 588',
 'Medal No 589',
 'Medal No 590',
 'Medal No 591',
 'Medal No 592',
 'Medal No 593',
 'Medal No 594',
 'Medal No 595',
 'Medal No 596',
 'Medal No 597',
 'Medal No 598',
 'Medal No 599',
 'Medal No 600',
 'Medal No 601',
 'Medal No 602',
 'Medal No 603',
 'Medal No 604',
 'Medal No 605',
 'Medal No 606',
 'Medal No 607',
 'Medal No 608',
 'Medal No 609',
 'Medal No 610',
 'Medal No 611',
 'Medal No 612',
 'Medal No 613',
 'Medal No 614',
 'Medal No 615',
 'Medal No 616',
 'Medal No 617',
 'Medal No 618',
 'Medal No 619',
 'Medal No 620',
 'Medal No 621',
 'Medal No 622',
 'Medal No 623',
 'Medal No 624',
 'Medal No 625',
 'Medal No 626',
 'Medal No 627',
 'Medal No 628',
 'Medal No 629',
 'Medal No 630',
 'Medal No 631',
 'Medal No 632',
 'Medal No 633',
 'Medal No 634',
 'Medal No 635',
 'Medal No 636',
 'Medal No 637',
 'Medal No 638',
 'Medal No 639',
 'Medal No 640',
 'Medal No 641',
 'Medal No 642',
 'Medal No 643',
 'Medal No 644',
 'Medal No 645',
 'Medal No 646',
 'Medal No 647',
 'Medal No 648',
 'Medal No 649',
 'Medal No 650',
 'Medal No 651',
 'Medal No 652',
 'Medal No 653',
 'Medal No 654',
 'Medal No 655',
 'Medal No 656',
 'Medal No 657',
 'Medal No 658',
 'Medal No 659',
 'Medal No 660',
 'Medal No 661',
 'Medal No 662',
 'Medal No 663',
 'Medal No 664',
 'Medal No 665',
 'Medal No 666',
 'Medal No 667',
 'Medal No 668',
 'Medal No 669',
 'Medal No 670',
 'Medal No 671',
 'Medal No 672',
 'Medal No 673',
 'Medal No 674',
 'Medal No 675',
 'Medal No 676',
 'Medal No 677',
 'Medal No 678',
 'Medal No 679',
 'Medal No 680',
 'Medal No 681',
 'Medal No 682',
 'Medal No 683',
 'Medal No 684',
 'Medal No 685',
 'Medal No 686',
 'Medal No 687',
 'Medal No 688',
 'Medal No 689',
 'Medal No 690',
 'Medal No 691',
 'Medal No 692',
 'Medal No 693',
 'Medal No 694',
 'Medal No 695',
 'Medal No 696',
 'Medal No 697',
 'Medal No 698',
 'Medal No 699',
 'Medal No 700',
 'Medal No 701',
 'Medal No 702',
 'Medal No 703',
 'Medal No 704',
 'Medal No 705',
 'Medal No 706',
 'Medal No 707',
 'Medal No 708',
 'Medal No 709',
 'Medal No 710',
 'Medal No 711',
 'Medal No 712',
 'Medal No 713',
 'Medal No 714',
 'Medal No 715',
 'Medal No 716',
 'Medal No 717',
 'Medal No 718',
 'Medal No 719',
 'Medal No 720',
 'Medal No 721',
 'Medal No 722',
 'Medal No 723',
 'Medal No 724',
 'Medal No 725',
 'Medal No 726',
 'Medal No 727',
 'Medal No 728',
 'Medal No 729',
 'Medal No 730',
 'Medal No 731',
 'Medal No 732',
 'Medal No 733',
 'Medal No 734',
 'Medal No 735',
 'Medal No 736',
 'Medal No 737',
 'Medal No 738',
 'Medal No 739',
 'Medal No 740',
 'Medal No 741',
 'Medal No 742',
 'Medal No 743',
 'Medal No 744',
 'Medal No 745',
 'Medal No 746',
 'Medal No 747',
 'Medal No 748',
 'Medal No 749',
 'Medal No 750',
 'Medal No 751',
 'Medal No 752',
 'Medal No 753',
 'Medal No 754',
 'Medal No 755',
 'Medal No 756',
 'Medal No 757',
 'Medal No 758',
 'Medal No 759',
 'Medal No 760',
 'Medal No 761',
 'Medal No 762',
 'Medal No 763',
 'Medal No 764',
 'Medal No 765',
 'Medal No 766',
 'Medal No 767',
 'Medal No 768',
 'Medal No 769',
 'Medal No 770',
 'Medal No 771',
 'Medal No 772',
 'Medal No 773',
 'Medal No 774',
 'Medal No 775',
 'Medal No 776',
 'Medal No 777',
 'Medal No 778',
 'Medal No 779',
 'Medal No 780',
 'Medal No 781',
 'Medal No 782',
 'Medal No 783',
 'Medal No 784',
 'Medal No 785',
 'Medal No 786',
 'Medal No 787',
 'Medal No 788',
 'Medal No 789',
 'Medal No 790',
 'Medal No 791',
 'Medal No 792',
 'Medal No 793',
 'Medal No 794',
 'Medal No 795',
 'Medal No 796',
 'Medal No 797',
 'Medal No 798',
 'Medal No 799',
 'Medal No 800',
 'Medal No 801',
 'Medal No 802',
 'Medal No 803',
 'Medal No 804',
 'Medal No 805',
 'Medal No 806',
 'Medal No 807',
 'Medal No 808',
 'Medal No 809',
 'Medal No 810',
 'Medal No 811',
 'Medal No 812',
 'Medal No 813',
 'Medal No 814',
 'Medal No 815',
 'Medal No 816',
 'Medal No 817',
 'Medal No 818',
 'Medal No 819',
 'Medal No 820',
 'Medal No 821',
 'Medal No 822',
 'Medal No 823',
 'Medal No 824',
 'Medal No 825',
 'Medal No 826',
 'Medal No 827',
 'Medal No 828',
 'Medal No 829',
 'Medal No 830',
 'Medal No 831',
 'Medal No 832',
 'Medal No 833',
 'Medal No 834',
 'Medal No 835',
 'Medal No 836',
 'Medal No 837',
 'Medal No 838',
 'Medal No 839',
 'Medal No 840',
 'Medal No 841',
 'Medal No 842',
 'Medal No 843',
 'Medal No 844',
 'Medal No 845',
 'Medal No 846',
 'Medal No 847',
 'Medal No 848',
 'Medal No 849',
 'Medal No 850',
 'Medal No 851',
 'Medal No 852',
 'Medal No 853',
 'Medal No 854',
 'Medal No 855',
 'Medal No 856',
 'Medal No 857',
 'Medal No 858',
 'Medal No 859',
 'Medal No 860',
 'Medal No 861',
 'Medal No 862',
 'Medal No 863',
 'Medal No 864',
 'Medal No 865',
 'Medal No 866',
 'Medal No 867',
 'Medal No 868',
 'Medal No 869',
 'Medal No 870',
 'Medal No 871',
 'Medal No 872',
 'Medal No 873',
 'Medal No 874',
 'Medal No 875',
 'Medal No 876',
 'Medal No 877',
 'Medal No 878',
 'Medal No 879',
 'Medal No 880',
 'Medal No 881',
 'Medal No 882',
 'Medal No 883',
 'Medal No 884',
 'Medal No 885',
 'Medal No 886',
 'Medal No 887',
 'Medal No 888',
 'Medal No 889',
 'Medal No 890',
 'Medal No 891',
 'Medal No 892',
 'Medal No 893',
 'Medal No 894',
 'Medal No 895',
 'Medal No 896',
 'Medal No 897',
 'Medal No 898',
 'Medal No 899',
 'Medal No 900',
 'Medal No 901',
 'Medal No 902',
 'Medal No 903',
 'Medal No 904',
 'Medal No 905',
 'Medal No 906',
 'Medal No 907',
 'Medal No 908',
 'Medal No 909',
 'Medal No 910',
 'Medal No 911',
 'Medal No 912',
 'Medal No 913',
 'Medal No 914',
 'Medal No 915',
 'Medal No 916',
 'Medal No 917',
 'Medal No 918',
 'Medal No 919',
 'Medal No 920',
 'Medal No 921',
 'Medal No 922',
 'Medal No 923',
 'Medal No 924',
 'Medal No 925',
 'Medal No 926',
 'Medal No 927',
 'Medal No 928',
 'Medal No 929',
 'Medal No 930',
 'Medal No 931',
 'Medal No 932',
 'Medal No 933',
 'Medal No 934',
 'Medal No 935',
 'Medal No 936',
 'Medal No 937',
 'Medal No 938',
 'Medal No 939',
 'Medal No 940',
 'Medal No 941',
 'Medal No 942',
 'Medal No 943',
 'Medal No 944',
 'Medal No 945',
 'Medal No 946',
 'Medal No 947',
 'Medal No 948',
 'Medal No 949',
 'Medal No 950',
 'Medal No 951',
 'Medal No 952',
 'Medal No 953',
 'Medal No 954',
 'Medal No 955',
 'Medal No 956',
 'Medal No 957',
 'Medal No 958',
 'Medal No 959',
 'Medal No 960',
 'Medal No 961',
 'Medal No 962',
 'Medal No 963',
 'Medal No 964',
 'Medal No 965',
 'Medal No 966',
 'Medal No 967',
 'Medal No 968',
 'Medal No 969',
 'Medal No 970',
 'Medal No 971',
 'Medal No 972',
 'Medal No 973',
 'Medal No 974',
 'Medal No 975',
 'Medal No 976',
 'Medal No 977',
 'Medal No 978',
 'Medal No 979',
 'Medal No 980',
 'Medal No 981',
 'Medal No 982',
 'Medal No 983',
 'Medal No 984',
 'Medal No 985',
 'Medal No 986',
 'Medal No 987',
 'Medal No 988',
 'Medal No 989',
 'Medal No 990',
 'Medal No 991',
 'Medal No 992',
 'Medal No 993',
 'Medal No 994',
 'Medal No 995',
 'Medal No 996',
 'Medal No 997',
 'Medal No 998',
 'Medal No 999',
 'Medal No 1000',
 ...]

In [27]:
summer.index = new_index

In [29]:
summer.head() #old index not present

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Medal No 1,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal No 2,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal No 3,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal No 4,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal No 5,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [30]:
summer.tail()

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Medal No 31161,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
Medal No 31162,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
Medal No 31163,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
Medal No 31164,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
Medal No 31165,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [31]:
summer.index.is_unique

True

In [32]:
summer.index.name

In [33]:
summer.index.name = 'Medal No'

In [34]:
summer.head()

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Medal No,,,,,,,,
Medal No 1,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal No 2,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal No 3,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal No 4,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal No 5,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [35]:
summer.reset_index()

,Medal No,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
0,Medal No 1,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,Medal No 2,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,Medal No 3,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,Medal No 4,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,Medal No 5,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,Medal No 31161,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
31161,Medal No 31162,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
31162,Medal No 31163,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
31163,Medal No 31164,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
31164,Medal No 31165,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze