In [2]:
import pandas as pd
summer = pd.read_csv('summer.csv')
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
Year          31165 non-null int64
City          31165 non-null object
Sport         31165 non-null object
Discipline    31165 non-null object
Athlete       31165 non-null object
Country       31161 non-null object
Gender        31165 non-null object
Event         31165 non-null object
Medal         31165 non-null object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
athlete = summer['Athlete']

In [6]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [7]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [8]:
type(athlete)

pandas.core.series.Series

In [9]:
athlete.dtype

dtype('O')

In [10]:
athlete.shape #pandas series is 1-d

(31165,)

In [11]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [12]:
athlete.size

31165

In [13]:
athlete.count()

31165

In [14]:
athlete.min()

'AABYE, Edgar'

In [15]:
athlete.max()

'Ã–STRAND, Per-Olof'

In [16]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [17]:
len(athlete.unique())

22762

In [18]:
athlete.nunique()

22762

In [19]:
athlete.value_counts()

PHELPS, Michael               22
LATYNINA, Larisa              18
ANDRIANOV, Nikolay            15
SHAKHLIN, Boris               13
ONO, Takashi                  13
                              ..
KIEFFER, Charles M.            1
JOACHIM, John                  1
HERNANDEZ PRENDES, Roberto     1
SOMODI, Lajos                  1
LÃ–NN, Algot                    1
Name: Athlete, Length: 22762, dtype: int64

In [20]:
athlete.value_counts(sort = True, ascending = True)

LÃ–NN, Algot                    1
SOMODI, Lajos                  1
HERNANDEZ PRENDES, Roberto     1
JOACHIM, John                  1
KIEFFER, Charles M.            1
                              ..
ONO, Takashi                  13
SHAKHLIN, Boris               13
ANDRIANOV, Nikolay            15
LATYNINA, Larisa              18
PHELPS, Michael               22
Name: Athlete, Length: 22762, dtype: int64

In [23]:
athlete.value_counts(sort = True, ascending = False, normalize = True).head()

PHELPS, Michael       0.000706
LATYNINA, Larisa      0.000578
ANDRIANOV, Nikolay    0.000481
SHAKHLIN, Boris       0.000417
ONO, Takashi          0.000417
Name: Athlete, dtype: float64