In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
titanic.info() #many missing values for age column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
survived    891 non-null int64
pclass      891 non-null int64
sex         891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
fare        891 non-null float64
embarked    889 non-null object
deck        203 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
titanic['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
type(titanic['age'])

pandas.core.series.Series

In [7]:
titanic['age'].equals(titanic.age)

True

In [8]:
#assign variable to the age column
age = titanic['age']

In [10]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [11]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [12]:
age.dtype

dtype('float64')

In [13]:
age.shape

(891,)

In [14]:
age.info()

AttributeError: 'Series' object has no attribute 'info'

In [15]:
len(age)

891

In [16]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [17]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

## Analyzing Numerical Series

In [13]:
age.count() #does not include missing values

714

In [14]:
age.dtype

dtype('float64')

In [15]:
age.size #NaN Values included

891

In [16]:
len(age)

891

In [21]:
age.sum(skipna = True) #sum over all elements of column age

21205.17

In [22]:
age.sum(skipna = False) #sum over all elements of column age

nan

In [19]:
sum(age) #python built-in function cannot handle missing values

nan

In [23]:
age.mean() #average age of all passengers

29.69911764705882

In [25]:
age.mean(skipna = False) #skipna = True by default

nan

In [26]:
age.std()

14.526497332334044

In [27]:
age.min()

0.42

In [28]:
age.max()

80.0

In [29]:
age.median()

28.0

In [31]:
age.unique() #can only be used on pandas series

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [33]:
len(age.unique()) #includes nan also

89

In [34]:
age.nunique()

88

In [35]:
age.nunique(dropna = False)

89

In [36]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [37]:
age.value_counts(dropna = False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [38]:
age.value_counts(dropna = False, sort = False, ascending = False)

22.00     27
38.00     11
26.00     18
35.00     18
NaN      177
        ...
0.92       1
0.83       2
0.67       1
70.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [39]:
age.value_counts(dropna = True, sort = True, ascending = False)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [40]:
age.value_counts(dropna = True, sort = True, ascending = True)

0.42      1
23.50     1
66.00     1
70.50     1
55.50     1
         ..
30.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [41]:
age.value_counts(dropna = True, sort = True, ascending = False, normalize = True) #divides by 714 (count- non null)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
           ...
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [43]:
age.value_counts(dropna = True, sort = True, ascending = False, bins = 5).head()

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64