In [1]:
import pandas as pd

In [2]:
dic = {1:10,3:25,2:6,4:36,5:2,6:0,7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [3]:
sales = pd.Series(dic)

In [4]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [5]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [6]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [7]:
sales.sort_index(ascending = True)

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [8]:
sales.sort_index(ascending = False)

7     NaN
6     0.0
5     2.0
4    36.0
3    25.0
2     6.0
1    10.0
dtype: float64

In [9]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [13]:
sales.sort_index(ascending = True, inplace = True)

In [14]:
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [15]:
sales.sort_values(inplace = False)

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [19]:
sales.sort_values(inplace = True, ascending = False, na_position = 'last')

In [20]:
sales

4    36.0
3    25.0
1    10.0
2     6.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [21]:
dic = {'Mon':10, 'Tue':25, 'Wed':6, 'Thurs':36, 'Fri':2}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thurs': 36, 'Fri': 2}

In [22]:
sales = pd.Series(dic)

In [23]:
sales

Mon      10
Tue      25
Wed       6
Thurs    36
Fri       2
dtype: int64

In [24]:
sales.sort_index(ascending = True)

Fri       2
Mon      10
Thurs    36
Tue      25
Wed       6
dtype: int64