In [2]:
import pandas as pd
summer = pd.read_csv('summer.csv',index_col = 'Athlete')
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

## Index opertor loc (label based indexing)

## Select rows with loc

In [4]:
summer.iloc[2] #athlete column not included

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [6]:
summer.loc['DRIVAS, Dimitrios']

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [7]:
summer.loc['PHELPS, Michael']

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Freestyle,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Butterfly,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Freestyle,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X200M Freestyle,Gold

In [15]:
summer.loc['PHELPS, Michael'].iloc[0] #first medal for phelps

Year                    2004
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  USA
Gender                   Men
Event         100M Butterfly
Medal                   Gold
Name: PHELPS, Michael, dtype: object

In [12]:
summer.loc['BOLT, Usain']

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"BOLT, Usain",2008,Beijing,Athletics,Athletics,JAM,Men,100M,Gold
"BOLT, Usain",2008,Beijing,Athletics,Athletics,JAM,Men,200M,Gold
"BOLT, Usain",2008,Beijing,Athletics,Athletics,JAM,Men,4X100M Relay,Gold
"BOLT, Usain",2012,London,Athletics,Athletics,JAM,Men,100M,Gold
"BOLT, Usain",2012,London,Athletics,Athletics,JAM,Men,200M,Gold
"BOLT, Usain",2012,London,Athletics,Athletics,JAM,Men,4X100M Relay,Gold

In [13]:
summer.loc['MURRAY, Andy']

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"MURRAY, Andy",2012,London,Tennis,Tennis,GBR,Men,Mixed Doubles,Silver
"MURRAY, Andy",2012,London,Tennis,Tennis,GBR,Men,Singles,Gold

In [17]:
summer.loc['BINDRA, Abhinav'] #no datframe for a single entry

Year                              2008
City                           Beijing
Sport                         Shooting
Discipline                    Shooting
Country                            IND
Gender                             Men
Event         10M Air Rifle (60 Shots)
Medal                             Gold
Name: BINDRA, Abhinav, dtype: object