In [1]:
import pandas as pd

## Having columns in place

In [2]:
players = ['Lionel Messi','Cristiano Ronaldo','Neymar Junior','Kylian Mbappe','Manual Neuer']

In [3]:
nationality = ['Argentina','Portugal','Brasil','France','Germany']

In [4]:
club = ['FC Barcelona','Juventus FC','PSG','PSG','Bayern Munich']

In [5]:
world_champion = [False, False, False, True, True]

In [6]:
goals = [45,44,21,28,0]

In [7]:
dic = {'Players':players, 'nationality':nationality, 'club':club, 'world_champion':world_champion, 'goals_scored':goals}

In [8]:
dic

{'Players': ['Lionel Messi',
  'Cristiano Ronaldo',
  'Neymar Junior',
  'Kylian Mbappe',
  'Manual Neuer'],
 'nationality': ['Argentina', 'Portugal', 'Brasil', 'France', 'Germany'],
 'club': ['FC Barcelona', 'Juventus FC', 'PSG', 'PSG', 'Bayern Munich'],
 'world_champion': [False, False, False, True, True],
 'goals_scored': [45, 44, 21, 28, 0]}

In [9]:
df = pd.DataFrame(data = dic)

In [10]:
df.head()

             Players nationality           club  world_champion  goals_scored
0       Lionel Messi   Argentina   FC Barcelona           False            45
1  Cristiano Ronaldo    Portugal    Juventus FC           False            44
2      Neymar Junior      Brasil            PSG           False            21
3      Kylian Mbappe      France            PSG            True            28
4       Manual Neuer     Germany  Bayern Munich            True             0

In [11]:
player = df.set_index('Players')

In [12]:
player

                  nationality           club  world_champion  goals_scored
Players
Lionel Messi        Argentina   FC Barcelona           False            45
Cristiano Ronaldo    Portugal    Juventus FC           False            44
Neymar Junior          Brasil            PSG           False            21
Kylian Mbappe          France            PSG            True            28
Manual Neuer          Germany  Bayern Munich            True             0

## Having rows in place

In [14]:
zipped = list(zip(nationality, club, world_champion, goals))

In [15]:
zipped

[('Argentina', 'FC Barcelona', False, 45),
 ('Portugal', 'Juventus FC', False, 44),
 ('Brasil', 'PSG', False, 21),
 ('France', 'PSG', True, 28),
 ('Germany', 'Bayern Munich', True, 0)]

In [16]:
messi, ronaldo, neymar, mbappe, neuer = zipped

In [17]:
messi

('Argentina', 'FC Barcelona', False, 45)

In [19]:
df = pd.DataFrame(data = [messi, ronaldo, neymar, mbappe, neuer],
                 index = ['Lionel Messi','Cristiano Ronaldo','Neymar Junior','Kylian Mbappe','Manual Neuer'],
                 columns = ['nationality', 'club', 'world_champion', 'goals'])

In [20]:
df

                  nationality           club  world_champion  goals
Lionel Messi        Argentina   FC Barcelona           False     45
Cristiano Ronaldo    Portugal    Juventus FC           False     44
Neymar Junior          Brasil            PSG           False     21
Kylian Mbappe          France            PSG            True     28
Manual Neuer          Germany  Bayern Munich            True      0

In [23]:
df2 = pd.Series(index = players, data = nationality, name = 'nationality').to_frame()

In [24]:
df2

                  nationality
Lionel Messi        Argentina
Cristiano Ronaldo    Portugal
Neymar Junior          Brasil
Kylian Mbappe          France
Manual Neuer          Germany

In [25]:
df2['club'] = club

In [26]:
df2

                  nationality           club
Lionel Messi        Argentina   FC Barcelona
Cristiano Ronaldo    Portugal    Juventus FC
Neymar Junior          Brasil            PSG
Kylian Mbappe          France            PSG
Manual Neuer          Germany  Bayern Munich