In [1]:
import pandas as pd
titanic = pd.read_csv('titanic.csv')
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [2]:
titanic.sex == 'male'

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: sex, Length: 891, dtype: bool

## Check if atleast one passenger is male

In [3]:
(titanic.sex == 'male').any()

True

## Check if all passengers are male

In [5]:
(titanic.sex == 'male').all()

False

In [6]:
(titanic.age == 80).any()

True

In [9]:
pd.Series([-1,-0.5,1,0.1,0], name = 'testall').all() #check if all elements are non-zero

False

In [10]:
pd.Series([-1,-0.5,1,0.1,0], name = 'testany').any()

True

In [11]:
titanic.fare.all() #some passengers paid nothing

False